h1{
    color: rgb(77, 162, 247);
}

body{
    background-color: rgb(187, 178, 140);
}

.box{
    height: 60px;
    width: 60px;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid black;

}

#box{
    height: 60px;
    width: 60px;
    background-color: rgb(225, 191, 141);
    border: 1px solid black;
    margin: 5px;

}