/* Styles for the table */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #000000; /* Add border */
  outline: #000000;
}

/* Styles for table head */
thead {
  background-color: #c2d1d2;
  color: #181717;
}

.user-table th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd; /* Add border bottom */
  border-right: 1px solid #ddd; /* Add border right */
}

.input-row th {
  padding: 2px;
}


/* Styles for table body */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;

}

tbody tr:hover {
  background-color: #ddd;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd; /* Add border bottom */
  border-right: 1px solid #ddd; /* Add border right */
}


/* Styles for links */
a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Additional style for filter row in the header */
thead tr:nth-child(2) {
  background-color: hsl(0, 0%, 100%); /* Same as the header background */
  color: #fff;
  height: auto;
  

}

/* Additional style for filter input */
label {
  margin-right: 5px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 2px;
 
}

@media (max-width: 700px) {
  container {
    width: 90%;
    overflow-x: auto; 
  }

  table {
    font-size: 14px;
    white-space: nowrap;
  }
}

.small-input {
  width: 50px; /* Adjust the width as needed */
}
