/* Styles for the table */
.container {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #000000; /* Add border */
  outline: #000000;
  
}

/* Styles for table head */
thead {
  background-color: #4c63af;
  color: #fff;
}

th {
  padding: 16px;
  text-align: left;
  border-bottom: 2px solid #ddd; /* Add border bottom */
}

/* Styles for table body */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

td {
  padding: 16px;
  border-bottom: 1px solid #ddd; /* Add border bottom */
}

/* Styles for links */
a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
